In [1]:
import pandas as pd
import numpy as np
import data_analysis

In [2]:
unemployment = pd.read_csv("Resources/UnemploymentRateCity.csv")

In [3]:
print(data_analysis.summaryStatistics(unemployment))

Philadelphia
7.540277777777779
Phoenix
4.788888888888888
San Antonio
4.415277777777778
San Diego
4.8388888888888895
Dallas
4.793055555555556
None

In [7]:
unemployment.describe()

       Philadelphia    Phoenix  San Antonio  San Diego     Dallas
count     72.000000  72.000000    72.000000  72.000000  72.000000
mean       7.540278   4.788889     4.415278   4.838889   4.793056
std        3.129895   1.896814     2.094168   2.925534   2.115025
min        4.500000   2.500000     2.700000   2.600000   3.000000
25%        5.700000   3.900000     3.300000   3.175000   3.600000
50%        6.300000   4.350000     3.550000   3.550000   4.000000
75%        7.800000   4.825000     4.725000   4.950000   5.075000
max       17.100000  13.300000    13.000000  15.900000  12.700000