In [1]:
import pandas as pd
import numpy as np
from scipy.stats.stats import pearsonr

In [3]:
# assigning datasets to variables
unemployment = pd.read_csv("Resources/UnemploymentRateCity.csv")
sales = pd.read_csv('output_data/SalePricesData.csv')
zhvi = pd.read_csv('output_data/ZHVIDAta.csv')

In [4]:
sales.describe()

,Philadelphia,Dallas,Phoenix,San Antonio,San Diego
count,57.000000,57.000000,57.000000,57.000000,57.000000
mean,265702.333333,305771.333333,341278.526316,253724.561404,657652.877193
std,32290.899310,53455.841621,75821.238869,40876.607698,95323.595798
min,214750.000000,246333.000000,255000.000000,201317.000000,545833.000000
25%,240667.000000,263333.000000,275000.000000,220333.000000,578917.000000
50%,263967.000000,284000.000000,309633.000000,244667.000000,610583.000000
75%,286767.000000,352750.000000,415000.000000,294000.000000,748333.000000
max,337167.000000,421389.000000,485367.000000,333259.000000,847833.000000

In [5]:
unemployment_short = unemployment.iloc[14:71]
unemployment_short.describe()

       Philadelphia    Phoenix  San Antonio  San Diego     Dallas
count     57.000000  57.000000    57.000000  57.000000  57.000000
mean       7.884211   4.921053     4.652632   5.112281   5.021053
std        3.426826   2.101083     2.293866   3.229555   2.322155
min        4.700000   2.500000     2.700000   2.600000   3.000000
25%        5.600000   3.800000     3.300000   3.000000   3.600000
50%        6.300000   4.400000     3.600000   3.400000   4.000000
75%        9.700000   5.300000     5.400000   6.600000   5.800000
max       17.100000  13.300000    13.000000  15.900000  12.700000

In [24]:
zhvi.describe()

,Philadelphia,Phoenix,San Antonio,San Diego,Dallas
count,60.000000,60.000000,60.000000,60.000000,60.000000
mean,202001.183333,299625.900000,230122.200000,735245.633333,253854.250000
std,25213.164604,70430.842444,36685.957108,133671.059794,41266.676987
min,161496.000000,221437.000000,189884.000000,601663.000000,199922.000000
25%,181910.250000,240351.750000,203662.750000,626138.500000,227001.750000
50%,194672.500000,267265.500000,210813.000000,660103.000000,233606.500000
75%,227061.000000,369382.500000,257923.750000,855843.250000,284574.750000
max,246115.000000,428493.000000,299066.000000,986746.000000,336213.000000

In [22]:
unemployment.head(15)
unemployment_2 = unemployment.iloc[12:72]
unemployment_2.describe()

       Philadelphia    Phoenix  San Antonio  San Diego     Dallas
count     60.000000  60.000000    60.000000  60.000000  60.000000
mean       7.776667   4.866667     4.590000   5.021667   4.961667
std        3.377612   2.068871     2.251907   3.172984   2.278424
min        4.500000   2.500000     2.700000   2.600000   3.000000
25%        5.600000   3.750000     3.275000   3.000000   3.600000
50%        6.300000   4.350000     3.550000   3.450000   4.000000
75%        9.625000   5.225000     5.250000   6.450000   5.800000
max       17.100000  13.300000    13.000000  15.900000  12.700000

In [6]:
for city in unemployment:
    if city == "Date ":
        pass
    else:
        print(f"Calculating {city}")
        rvalue, pvalue = pearsonr(unemployment_short[city], sales[city])
        print(f"The r-value is {rvalue}.")
        print(f"The p-value is {pvalue}.")

Calculating Philadelphia
The r-value is 0.11093866389292782.
The p-value is 0.41133140260453094.
Calculating Phoenix
The r-value is -0.3018237255771161.
The p-value is 0.022505129886153497.
Calculating San Antonio
The r-value is 0.02135131576774573.
The p-value is 0.8747361382148577.
Calculating San Diego
The r-value is -0.07754043617310952.
The p-value is 0.5664334274099159.
Calculating Dallas
The r-value is -0.07110491172092397.
The p-value is 0.5991639933778515.

In [25]:
for city in unemployment:
    if city == "Date ":
        pass
    else:
        print(f"Calculating {city}")
        rvalue, pvalue = pearsonr(unemployment_2[city], zhvi[city])
        print(f"The r-value is {rvalue}.")
        print(f"The p-value is {pvalue}.")

Calculating Philadelphia
The r-value is 0.07229899805419333.
The p-value is 0.5830300353651043.
Calculating Phoenix
The r-value is -0.32210966580206196.
The p-value is 0.012078232897878734.
Calculating San Antonio
The r-value is -0.08271456867317167.
The p-value is 0.5298044802907931.
Calculating San Diego
The r-value is -0.1302501091810975.
The p-value is 0.32123500617328693.
Calculating Dallas
The r-value is -0.12061142148631546.
The p-value is 0.35864179359911624.